language: julia

os:
  - linux
  - osx

julia:
  - 0.4
  - 0.5
  - nightly

notifications:
  email: false

after_success:
  - julia -e 'cd(Pkg.dir("DataStreams", "test")); include("coverage.jl")'
  - julia -e 'Pkg.add("Documenter")'
  - julia -e 'cd(Pkg.dir("DataStreams")); include(joinpath("docs", "make.jl"))'
